body{
white-space: pre;
color: azure;
font-size: x-large;

  /* The image used */
  background-image: url("images/galaxy-stars-space-24-4k.jpg");


  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: 100% 100%
}




#theReading{

  display: flex;
  text-align: center;
  height: 200px;

}


.test {
  /* We first create a flex layout context */
  display: flex;

  
  
}




.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  padding: 18px 18px;
  margin-left: 40%;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}




#pos1{
  width: 200px;
  height: 200px;
  z-index: -1;
  margin-top: 230px;
  
}

#pos2{
  width: 200px;
  height: 200px;
  transform: rotate(-80deg);
  position: absolute;
  margin-top: 220px;
  z-index: 10;
  
}

#pos3{
  width: 200px;
  height: 200px;
  
}

#pos4{
  width: 200px;
  height: 200px;
  margin-top: 300px;
  
}

#pos5{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 40px;
  
}

#pos6{
  width: 200px;
  height: 200px;
  margin-top: 300px;
  
}
#pos7{
  width: 200px;
  height: 200px;
  
}

#pos8{
  width: 200px;
  height: 200px;
  
}

#pos9{
  width: 200px;
  height: 200px;
  
}

#pos10{
  width: 200px;
  height: 200px;
  
}

#TarotPic {
  border: 1px solid black;
  height: 100%; 
  object-fit: contain;
}