body{
white-space: pre;

font-size: x-large;
}
.newimg {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}


#theReading{

  display: flex;
  text-align: center;
}



#pos1{
  width: 250px;
  height: 250px;
  margin-left: 45%;
}

#pos2{
  width: 250px;
  height: 250px;
  margin-left: 40%;
}

#pos3{
  width: 250px;
  height: 250px;
  margin-left: 30%;
}

#pos4{
  width: 250px;
  height: 250px;
  margin-left: 50%;
}

#pos5{
  width: 250px;
  height: 250px;
  margin-left: 30%;
}

#pos6{
  width: 250px;
  height: 250px;
  margin-left: 30%;
}
#pos7{
  width: 250px;
  height: 250px;
  margin-left: 60%;
}

#pos8{
  width: 250px;
  height: 250px;
  margin-left: 60%;
}

#pos9{
  width: 250px;
  height: 250px;
  margin-left: 60%;
}

#pos10{
  width: 250px;
  height: 250px;
  margin-left: 60%;
}

.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  padding: 18px 18px;
  margin-left: 40%;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}